.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url("/images/background_reservation.svg");
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  max-width: 385px;
}

.reservation__form {
  margin: auto;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.placeholder {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 8px;
  padding: 15px;
}

.form__button {
  width: 100%;
  padding: 20px;
  margin-bottom: 32px;
  background-color: #1878dc;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-style: none;
}

.form__button:hover {
  transition: smooth;
  background-color: #3f96f3;
}

.form__checkbox {
  margin-right: 12px;
  max-width: 20px;
  max-height: 20px;
}

.form__checkbox-text {
  max-width: 20px;
  max-height: 20px;
}
